ion-badge {
  font-weight: lighter;
}
@media (min-width: 800px) {
  .view-wrapper {
    max-width: 600px;
  }
}

@media (min-width: 1000px) {
  .view-wrapper {
    max-width: 800px;
  }
}
mat-card {
  padding: 0px;
}
.toolbar {
  background-color: #fff;
}

mat-card-actions {
  margin-left: 10px;
}
