ion-badge {
  font-weight: lighter;
}
@media (min-width: 800px) {
  mat-card, waa-card-toolbar {
    max-width: 700px;
  }
}

@media (min-width: 1000px) {
  mat-card, waa-card-toolbar {
    max-width: 900px;
  }
}