mat-card {
  margin-bottom: 40px;
}
.header-image {
  border-radius: 0;
  width: 60px;
  height: 60px;
}
.qr-wrapper {
  display: flex;
  flex-direction: column;
  .qr-code {
    margin: auto auto;
  }
}

.main-header {
  height: 90px;
}

.form-card {
  height: 555px;
}

::ng-deep .mat-input-underline {
  display: none !important;
}

.dp-border {
  width: 100%;
  border-top: 1px solid;
  border-color: #ccd1e1;
}
.dp-border-focused {
  border-color: #4e7a89;
}
.dp-border-valid {
  border-color: #10dc60;
}
.dp-border-warn {
  border-color: #f53d3d;
}
.dp-border-grey {
  border-color: #ccd1e1;
}

.address-list {
  width: 90%;
  z-index: 10;
  background-color: #fff;
  margin-left: 2%;
  position: absolute;
  padding: 0.2em;
}

.address-item:hover {
  background-color: #ccd1e1;
  cursor: pointer;
}

.float-right {
  float: right;
}

.card-confirm-submission {
  padding: 20px;
}

.date-form-field {
  margin-top: -10px;
  height: 54px;
  font-size: 13px;
}
