mat-card {
  margin-bottom: 40px;
}
.header-image {
  border-radius: 0;
  width: 60px;
  height: 60px;
}
.qr-wrapper {
  display: flex;
  flex-direction: column;
  .qr-code {
    margin: auto auto;
  }
}

.main-header {
  height: 90px;
}

.form-card {
  max-width: 400px;
}
@media (min-width: 959px) {
  .form-card {
    max-width: 600px;
  }
}

@media (min-width: 660px) {
  mat-card {
    max-width: 660px;
  }
}
::ng-deep .mat-input-underline {
  display: none !important;
}

.dp-border {
  width: 100%;
  border: 0.5px;
  border-style: solid;
  border-color: #ccd1e1;
}
.dp-border-focused {
  border-style: solid;
  width: 100%;
  border: 1px;
  border-color: #4e7a89;
}
.dp-border-valid {
  border-style: solid;
  width: 100%;
  border: 1px;
  border-color: #10dc60;
}
.dp-border-warn {
  border-style: solid;
  width: 100%;
  border: 1px;
  border-color: #f53d3d;
}
.dp-border-grey {
  width: 100%;
  border: 0.5px;
  border-style: solid;
  border-color: #ccd1e1;
}

.address-list {
  width: 90%;
  z-index: 10;
  background-color: #fff;
  margin-left: 2%;
  position: absolute;
  padding: 0.2em;
}

.address-item:hover {
  background-color: #ccd1e1;
  cursor: pointer;
}
