{
    #  See https://caddy.community/t/making-sense-of-auto-https-and-why-disabling-it-still-serves-https-instead-of-http/9761
    auto_https off
}

{$WEB_HOST_NAME}:{$WEB_HOST_PORT} {
    # Log everything to stdout
    log {
        output stdout
    }

    #  Set server root
    root * /srv

    # Enable serving static files
    file_server

    # Enable gzip, zstd compression
    encode zstd gzip

    # Enable templates module - required for 
    templates

    # Openly exposed health check endpoint for OpenShift
    respond /health 200

    # Required for SPA router to work
    @spa_router {
        not path /api/*
        file {
            try_files {path} /index.html
        }
    }
    rewrite @spa_router {http.matchers.file.relative}

    # Proxy requests to API service
    route /api/* {
        uri strip_prefix /api
        reverse_proxy {$API_HOST}:{$API_PORT}
    }
}