mat-list-item {
  width: 400px;
  display: flex;
  flex-direction: row;
}
mat-button {
  margin: 0px 0px 0px 15px;
}
mat-card-header {
  width: 100%;
  cursor: pointer;
}
ion-badge {
  font-weight: lighter;
}
mat-checkbox {
  margin: 0px 0px 12px 15px;
}
mat-card {
  padding: 0px;
  margin-top: 10px;
}
